.authors {
    margin-bottom: 96px;
    h2 {
        text-align: center;
        margin-bottom: 48px;
    }
    &__inner {
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--light);
        padding: 40px;
        width: 22%;
    }
    p {
        margin-bottom: 20px;
    }
    &__img {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: auto;
            object-position: center center;
            transform: translateY(-15%);
            object-fit: cover;
        }
    }
    svg {
        path {
            fill: var(--black);
        }
    }
    &__brands {
        margin-top: 108px;
    }
    &__brand {
        display: flex;
        justify-content: center;
    }
}