.category {
    h2 {
        text-align: center;
        margin-bottom: 48px;
    }
    &__inner {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0;
    }
    &__item {
        padding: 32px;
        border: 1px solid var(--med-grey);
        width: auto;
        width: 22%;
        background: #fff;
        transition: all 0.3s;
        &:hover {
            background: var(--yellow);
            border: 1px solid var(--yellow);
        }
        img {
            width: 48px;
            height: 48px;
            background: var(--light);
            padding: 12px;
            border-radius: 5px;
            margin-bottom: 16px;
        }
        h3 {
            margin-bottom: 4px;
        }
        p {
            color: var(--med-grey);
        }
    }
}