.posts {
    padding: 128px 0;
    h2 {
        margin-bottom: 32px;
    }
    &__featured {
        width: 100%;
        padding: 32px;
        border: 1px solid var(--grey);
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin-bottom: 30px;
        }
        &--text {
            max-width: 670px;
        }
        h3 {
            margin-top: 19px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 32px;
        }
    }
    &__all {
        li {
            padding: 32px 32px 25px;
            background-color: #fff;
            width: 100%;
            transition: all 0.3s;
            &:hover {
                background-color: var(--light);
            }
        }
        &--title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--text {
            max-width: 370px;
            margin-top: 8px;
        }
        .posts__data {
            span {
                color: var(--purple);
                font-weight: 500;
            }
        }
    }
}