.story {
    text-align: center;
    margin: 128px 0;
    &__wrapper {
        max-width: 414px;
        margin: 0 auto;
        h2 {
            margin-bottom: 16px;
        }
        p {
            margin-bottom: 32px;
        }
    }
}