body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px
}

h3 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

.container {
    position: relative;
    z-index: 100;
    max-width: 1577px;
    padding: 0 15px;
    margin: 0 auto;
}

input {
    padding: 14px 25px;
    line-height: 28px;
    color: var(--light);
    letter-spacing: 1px;
    border: 1px solid var(--dark-grey);
    font-size: 18px;
    &::placeholder {
        font-size: 16px;
        color: var(--med-grey);
    }
}

button,
.btn {
    display: inline-block;
    padding: 16px 48px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    background: #fff;
    color: var(--black);
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        background: var(--dark-grey);
        color: #fff;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
        display: flex;
        gap: 24px;
        margin-left: auto;
        margin-right: 32px;
        a {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.orange-btn {
    background: var(--yellow);
    color: var(--black);
    opacity: 1;
    transition: all 0.3s;
    &:hover {
        background: var(--dark-grey);
        color: #fff;
    }
}

.link {
    color: var(--purple);
}

.a {
    width: 1060px;
    height: 23px;
    margin-left: auto;
    margin-right: 0;
    background: linear-gradient(90deg, #FFD050 0%, #FFD050 70%, #592EA9 70%, #592EA9 100%);
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.social {
    display: flex;
    gap: 16px;
}

.author {
    display: flex;
    align-items: center;
    gap: 16px;
    max-height: 60px;
    &__avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        img {
            object-position: center center;
            width: 100%;
        }
    }
    &__info {
        max-height: 60px;
    }
    &__city {
        font-size: 16px;
        line-height: 28px;
        color: var(--med-grey);
    }
}

.data {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--dark-grey);
}