* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

input {
    background: transparent;
    border: none;
    box-sizing: border-box;
}

button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}