:root {
    --black: #232536;
    --yellow: #FFD050;
    --dark-grey: #4C4C4C;
    --med-grey: #6D6E76;
    --purple: #592EA9;
    --light: #FBF6EA;
    --grey: #F4F4F4;
    --lavander: #F4F0F8;
}

$grid-gutter-width: 32px;